:root {
     --color-bg-body: #141414;
  /* sfondo principale */
  --color-text-primary: #f5f5f5;
  /* testo principale */
  --color-text-secondary: #bdbdbd;
  /* testo secondario */
  --color-accent: #019cd9;

}

@layer base {

    body {
        background-color: var(--color-bg-body);
        color: var(--color-text-primary);
    }
}