@font-face {
  font-family: 'Clash Display';
  src: url('../assets/fonts/ClashDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('../assets/fonts/ClashDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Clash Display';
  src: url('../assets/fonts/ClashDisplay-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-display: 'Clash Display', sans-serif;
  --font-sans: 'Satoshi', 'Inter', sans-serif;

  --hero-lg: [' clamp(4rem, 25vw, 6rem)', { lineHeight: '6.5rem'}],;
  --hero-xl: ['clamp(5rem,30vw,7rem)', { lineHeight: '7.5rem'}],;
  --hero-2xl: ['clamp(6rem,40vw,8rem)', { lineHeight: '7.5rem'}],;
}

@layer base {
  body {
    font-family: var(--font-sans);
  }
  a {
    font-family: var(--font-sans);
    color: var(--color-text-secondary) !important;
  }
}