@import "tailwindcss";

@import './font.css';

@import './colors.css';

* {
  box-sizing: border-box;
}

:root {
  --font-display: 'Clash Display', sans-serif;
  --font-sans: 'Satoshi', 'Inter', sans-serif;
}
